@import "tailwindcss";

@import "flowbite/src/themes/default";
@import "../node_modules/preline/variants.css";
@import "./leaflet/leaflet.css";

@import "./tailwind/components/simplebar.css";
@import "./tailwind/utilities/header.css";
@import "./tailwind/utilities/reboot.css";
@import "./tailwind/utilities/sidebar.css";
@import "./tailwind/tailwind.css";

@plugin "flowbite/plugin";

.bg-surface{
    --tw-bg-opacity:1;
background-color:rgb(240 245 249 / var(--tw-bg-opacity,1))
}

/* Override Layers Icon */
.leaflet-control-layers-toggle {
	background-image: url("/assets/icons/layers.png") !important;
}

.leaflet-retina .leaflet-control-layers-toggle {
	background-image: url("/assets/icons/layers-2x.png") !important;
	background-size: 26px 26px;
}

.leaflet-control-layers-overlays label span, .leaflet-control-layers-base label span {
	@apply flex gap-1.5 items-center
}

leaflet-control-layers {
	@apply text-sm font-normal;
}

.leaflet-control-layers-selector {
	@apply m-0;
}

.leaflet-popup-content {
    margin: 8px !important;
}

/* Ensure Tailwind classes work in popup */
.leaflet-popup-content-wrapper {
    border-radius: 0.5rem;
}