@import "tailwindcss";

@import "flowbite/src/themes/default";
@import "../node_modules/preline/variants.css";
@import "./leaflet/leaflet.css";

@import "./tailwind/components/simplebar.css";
@import "./tailwind/utilities/header.css";
@import "./tailwind/utilities/reboot.css";
@import "./tailwind/utilities/sidebar.css";
@import "./tailwind/tailwind.css";

@plugin "flowbite/plugin";

.bg-surface{
    --tw-bg-opacity:1;
background-color:rgb(240 245 249 / var(--tw-bg-opacity,1))
}

/* Override Layers Icon */
.leaflet-control-layers-toggle {
	background-image: url("/assets/icons/layers.png") !important;
}

.leaflet-retina .leaflet-control-layers-toggle {
	background-image: url("/assets/icons/layers-2x.png") !important;
	background-size: 26px 26px;
}